{"Database":
    [
        {
        "drivername":"sqlite",
        "username":None,
        "password":None,
        "host":None,
        "port":None,
        "database":".panoptes.db",
        "query":None
        }
    ],
"Connect_args":
    [
        {
        "check_same_thread": False
        }
    ],  
"Parameters":
    [
        {
        "case_sensitive":"True"
        }
    ]
}