{"Database":
    [
        {
        "drivername":"postgresql+psycopg2",
        "username":"docker",
        "password":"docker",
        "host":"localhost",
        "port":5433,
        "database":"gis",
        "query":None
        }
    ],
"Connect_args":
    [
        {
        
        }
    ],  
"Parameters":
    [
        {
        "case_sensitive":"True",
        "pool_size":20,
        "max_overflow":10,
        }
    ]
}