{% extends "index.html" %}

{% block main_info %}

<div class="card">
  <div class="card-header">about</div>
  <div class="card-body">
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <tbody>
      <td>
        Bioinformaticians and data scientists, rely on computational frameworks (e.g. <a
        href="https://snakemake.readthedocs.io/en/stable/"> snakemake</a>,<a href="https://www.nextflow.io">
        nextflow</a>,<a href="https://www.commonwl.org"> CWL</a>, <a href="https://github.com/openwdl/wdl"> WDL</a>) to
        process, analyze and integrate data of various types. Such frameworks allow scientists to combine software and
        custom tools of different origin in a unified way, which lets them reproduce the results of others, or reuse the
        same pipeline on different datasets.
        <br/>
        One of the fundamental issues is that the majority of the users execute multiple pipelines at the same time, or
        execute a multistep pipeline for a big number of datasets, or both, making it hard to track the execution of the
        individual steps or monitor which of the processed datasets are complete.
        <br/> <br/>
        <img src="img/brand/panoptes.png">   is a tool that monitors the execution of such work flows.
        <br/> <br/>It can be used by: Data scientists, bioinformaticians, etc. that want to have a general overview of the
        progress of their pipelines and the status of their jobs Administrations that want to monitor their servers Web
        developers that want to integrate the service in bigger web applications.
        <br/> <br/>
        <i>Note:   </i> <img src="img/brand/panoptes.png">   is in early development stage and the first proof of concept
          server will support only workflows written in snakemake. We intend to expand its functionality in the future.
      </td>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
