{% extends "index.html" %}

{% block main_info %}

<div class="card">
  <div class="card-header">about</div>
  <div class="card-body">
    <table class="table table-responsive-sm table-hover table-outline mb-0">
      <tbody>
      <td>
        <p>
        Bioinformaticians and data scientists rely on computational frameworks (e.g. <a href="https://snakemake.github.io/">snakemake</a>) 
        to process, analyze, integrate and annotate data of various types. Such frameworks allow one to combine heterogeneous 
        software tools in a consistent manner, which enables the reproduction of scientific results, and the reuse 
        of the same pipeline on different datasets. The challenge is, however, to track the execution of the 
        individual steps or monitor which datasets have been processed, given that multiple pipelines are executed 
        at the same time, or that a large number of steps are executed in parallel for multiple datasets. 
        This challenge is addressed by <a href="https://github.com/panoptes-organization/panoptes">panoptes</a>, 
        a tool that can be used by administrators who want to monitor their servers, data scientists or bioinformaticians who 
        want to have a general overview of the progress of their pipelines or web developers who want to integrate 
        the service in bigger web applications. Tools like panoptes allow scientists to focus on their scientific 
        questions and spend less time on tedious tasks. Panoptes is a free and open source tool under the MIT license.
        </p>
      </td>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
