{"Database":
        {
        "drivername":"sqlite",
        "username":null,
        "password":null,
        "host":null,
        "port":null,
        "database":".panoptes.db",
        "query":null
        },
"Connect_args":
        {
        "check_same_thread": false
        },  
"Parameters":
        {
        "case_sensitive":true
        }
}